<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.befitoffatoriginal">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Be Fit or Fat"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Body_Veg_Diet"></activity>
        <activity android:name=".Bodybuilding_Diet" />
        <activity android:name=".Diet" />
        <activity android:name=".Fatloss" />
        <activity
            android:name=".SignIn"
            android:label="Sign In" />
        <activity android:name=".Bulking" />
        <activity
            android:name=".Aerobics"
            android:label="Aerobics" />
        <activity android:name=".Home" />
        <activity android:name=".MainActivity" />
        <activity android:name=".StartScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>